{% extends 'base.html' %}

{% block content %}
<!doctype html>

<html>
  <head>
  	<title>

    </title>
  </head>
  
  <body> 

  	<div class="container">
  		<div class="row">
  			<div class="col">
  				<h3><a href="{% url 'main' %}">Home</a></h3>
  			</div>
  			<div class="col">
  				<h3><a href="{% url 'updatereq' %}">Change Priority</a></h3></div>
  			</div>
  			<div class="row">
  				<div class="col"><h1>Last 10 HTTP-requests</h1></div>
  			</div>

  			<table class="table">
  				<thead>
  					<tr>
  						<th scope="col">Method</th>
  						<th scope="col">Path</th>
  						<th scope="col">Time</th>
  						<th scope="col">Priority</th>
  					</tr>
  				</thead>
  				<tbody>
  					{% for request in object_list %}
  					<tr>
  						<td>{{ request.method }}</td>
  						<td>{{ request.path }}</td>
  						<td>{{ request.time }}</td>
  						<td>{{ request.priority }}</td>
  					</tr>
  					{% endfor %}
  				</tbody>
  			</table>

  		</div>
</body>
</html>

<script
src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>
<!--This script sends ajax request to DB for new entries-->
<script type="text/javascript">

window.onload = function() {
    window.total_requests = {{ object_list.0.total_requests }};
};

function ajaxCall() {
    $.ajax({
        type: "GET",
        url: {% url 'requests' %},
        success: function(response){
            $('html').html(response);
        }
    })
};

$(document).ready(function() {
	setTimeout(ajaxCall, 1618);
	current_requests = {{ object_list.0.total_requests }};
	new_requests = current_requests - window.total_requests;
	document.title = "(" + new_requests + ") New requests";
});
</script>

{% endblock %}
