{% extends 'base.html' %}

{% block content %}
<!doctype html>
<html lang="en">
  <head>
      <title>Last requests</title>
  </head>
  
  <body> 

	<div class="container">
		<div class="row"><h3><a href="{% url 'main' %}">Home</a></h3></div>
		<div class="row">
			<div class="col"><h1>Last 10 HTTP-requests</h1></div>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Method</th>
					<th scope="col">Path</th>
					<th scope="col">Time</th>
				</tr>
			</thead>
			<tbody>
				{% for request in object_list %}
				<tr>
					<td>{{ request.method }}</td>
					<td>{{ request.path }}</td>
					<td>{{ request.time }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
</body>
</html>

<script
src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>
<!--This script sends ajax request to DB for new entries-->
<script type="text/javascript">
function ajaxCall() {
    $.ajax({
        type: "GET",
        url: {% url 'requests' %},
        success: function(response){
            $('body').html(response);
        }
    })
};
$(document).ready(function() {
	setTimeout(ajaxCall, 1618);
	console.log("hello");
});
</script>

{% endblock %}
